@import url("./common.css");

.home {
  width: 100%;
  height: 100vh;
}
.home section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 44px 0 76px;
  box-sizing: border-box;
  background-color: #eeebe5;
  float: left;
}

/* 헤더 */
header {
  display: inline-block;
  width: 100%;
  text-align: center;
}
header .inner {
  position: relative;
  height: 43px;
  margin-top: 12px;
}
header h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
header .avata {
  position: absolute;
  left: 27px;
  top: 50%;
  transform: translateY(-50%);
}
header .btn_wrap {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}
header .btn_wrap > li {
  float: left;
}
header .btn_wrap > li > a.scan {
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/btn_scan.png) center no-repeat;
  background-size: 24px 21px;
  margin-right: 2px;
}
header .btn_wrap > li > a.search {
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/btn_search.png) center no-repeat;
  background-size: 24px 24px;
}

/* 계좌정보 */
.account_info {
  padding: 33px 48px 0;
}
.account_info .info {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 155px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
}

/* 계좌번호 */
.account_info .info .num {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 14px;
}
.account_info .info .num > strong {
  color: #858585;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: -0.24px;
}
.account_info .info .num > a {
  position: absolute;
  right: 17px;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

/* 금액 */
.account_info .info > .cash {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  letter-spacing: 2px;
  margin-top: 16px;
}
.account_info .info > .cash > span {
  font-size: 16px;
  font-weight: 400;
}

/* 그래프 */
.account_info .info .graph {
  text-align: center;
  margin-top: 10px;
}
.account_info .info .graph > ul {
  display: inline-block;
}
.account_info .info .graph > ul > li {
  float: left;
}
.account_info .info .graph .bar {
  position: relative;
  width: 202px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 3px;
  margin: 10px 7px 0 0;
}
.account_info .info .graph .bar_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #ffdb4c;
  border-radius: 3px;
}
.account_info .info .graph .bar_color .use_cash {
  position: absolute;
  top: -8px;
  right: 0;
  width: 4px;
  height: 17px;
  border: 2px solid #fff;
  background-color: #ff5f00;
  border-radius: 4px;
  z-index: 1;
}
.account_info .info .graph .btn_graph {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/btn_chart.png") center no-repeat;
  background-size: 24px 24px;
}

/* 텍스트 정보 */
.account_info .info .noti {
  display: block;
  font-size: 14px;
  color: #858585;
  line-height: 1.5;
  text-align: center;
  margin-top: 4px;
}

/* 광고영역 */
.account_info .adv {
  display: block;
  text-align: center;
  margin-top: 24px;
}
.account_info .adv > a {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
.account_info .adv > a > strong {
  text-decoration: underline;
  font-weight: normal;
  margin-left: 3px;
}

/* 히스토리 */
.account_history {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 351px);
  background-color: #f5f5f5;
  border-radius: 30px 30px 0 0;
  padding: 23px 0 76px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 20;
}

/* 드래그 바 */
.drag_bar {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 12px;
  cursor: pointer;
}
.drag_bar::after {
  content: "";
  display: block;
  width: 48px;
  height: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #c4c4c4;
  margin: 4px auto 0;
}

/* 저금통 리스트 */
.account_history .save_list {
  padding: 0 30px;
  box-sizing: border-box;
}
.account_history .save_list .scroll_area {
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}
.account_history .save_list .scroll_area > ul {
  display: flex;
  flex-wrap: nowrap;
}
.account_history .save_list .scroll_area > a {
  white-space: nowrap;
  margin-left: 15px;
  color: #ff5f00;
}
.account_history .save_list .scroll_area > a > strong {
  position: relative;
  top: 2px;
  font-size: 14px;
  line-height: 1.5;
  vertical-align: top;
}
.account_history .save_list .scroll_area > ul > li {
  float: left;
}
.account_history .save_list .scroll_area > ul > li + li {
  margin-left: 13px;
}
.account_history .save_list .scroll_area > ul > li .save_item {
  position: relative;
  width: 162px;
  height: 47px;
  background-color: #dadada;
  border-radius: 6px;
  overflow: hidden;
}
.account_history .save_list .scroll_area > ul > li .save_item .title {
  position: relative;
  padding: 5px 13px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.account_history .save_list .scroll_area > ul > li .save_item .title h4,
.account_history .save_list .scroll_area > ul > li .save_item .title strong {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
}
.account_history .save_list .scroll_area > ul > li .save_item .color {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}
.account_history .save_list .scroll_area > ul > li .save_item .color.orange {
  background-color: #ff5f00;
}
.account_history .save_list .scroll_area > ul > li .save_item .color.yellow {
  background-color: #feb700;
}

/* 최근 히스토리 */
.account_history ul.recent {
  height: calc(100% - 64px);
  margin-top: 17px;
  padding: 0 36px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}
.account_history ul.recent > li {
  margin-bottom: 38px;
}
.account_history ul.recent > li .recent_tit {
  display: inline-block;
  width: 100%;
}
.account_history ul.recent > li .recent_tit > h4 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  float: left;
}
.account_history ul.recent > li .recent_tit > strong {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  color: #b4b4b4;
  float: right;
}
.account_history ul.recent > li ul.recent_list > li {
  padding: 6px 2px 7px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.account_history ul.recent > li ul.recent_list > li,
.account_history ul.recent > li ul.recent_list > li > strong {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 350;
  color: #444;
}
.account_history ul.recent > li ul.recent_list > li > strong {
  float: right;
}
.account_history ul.recent > li ul.recent_list > li > strong.orange {
  color: #ff5f00;
}
